<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form id="addForm" [formGroup]="formCategorie" (ngSubmit)="onSubmit()">
          <h2 class="text-center mb-4">Add Categorie</h2>
          <div class="form-group">
            <label for="name">Nom Categorie</label>
            <input type="text" class="form-control" id="name" placeholder="Entrez votre nom" formControlName="label"
            [ngClass]="{'is-invalid':f['label'].errors}"
            placeholder="label Address">
            <div *ngIf="f['label'].errors">
              <div *ngIf="f['label'].errors['required']">
                label required
              </div></div>
          </div>
  
          <button type="submit" class="btn btn-primary btn-block">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>