
    <!-- Header Start -->
    <header class="header-01 sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <!-- logo Start-->
                        <a class="navbar-brand" routerLink="/hometeacher">
                            <img src="assets/images/logo.png" alt="">
                            <img class="sticky-logo" src="assets/images/logo4.png" alt="">
                        </a>
                        <!-- logo End-->

                        <!-- Moblie Btn Start -->
                        <button class="navbar-toggler" type="button">
                            <i class="fal fa-bars"></i>
                        </button>
                        <!-- Moblie Btn End -->

                        <!-- Nav Menu Start -->
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="menu-item-has-children">
                                    <a routerLink="/hometeacher">Home</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">Courses</a>
                                    <ul class="sub-menu">
                                        
                                        <li><a routerLink="coursesprof">Add Cours</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">Pages</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">About Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="about-1.html">About 01</a></li>
                                                <li><a href="about-2.html">About 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="instructor.html">Instructor Page</a></li>
                                        <li><a href="profile.html">Instructor Profile</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog Page</a></li>
                                        <li><a href="single-post.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">Teacher profile</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Profile</a></li>
                                        <li><a (click)="onLogout()">logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav Menu End -->

                        <!-- User Btn -->
                        <a href="#" class="user-btn"><i class="ti-user"></i></a>
                       
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->