    <!-- Footer Section Start -->
    <footer class="footer-1">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <aside class="widget">
                        <div class="about-widget">
                            <a href="index-2.html"><img src="assets/images/logo.png" alt=""></a>
                            <p>
                                Lost the plot Richard you mug cup of tea knackered boot bender.
                            </p>
                            <div class="ab-social">
                                <a class="fac" href="#"><i class="social_facebook"></i></a>
                                <a class="twi" href="#"><i class="social_twitter"></i></a>
                                <a class="you" href="#"><i class="social_youtube"></i></a>
                                <a class="lin" href="#"><i class="social_linkedin"></i></a>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-3">
                    <aside class="widget">
                        <h3 class="widget-title">Explore</h3>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Success Story</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Resource Center</a></li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-3">
                    <aside class="widget">
                        <h3 class="widget-title">Catecories</h3>
                        <ul>
                            <li><a href="#">All Courses</a></li>
                            <li><a href="#">Storytelling & Voice Over</a></li>
                            <li><a href="#">Digital Marketing</a></li>
                            <li><a href="#">Design & Branding</a></li>
                            <li><a href="#">Nanodegree Plus</a></li>
                            <li><a href="#">Veterans</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-2 col-md-3">
                    <aside class="widget">
                        <h3 class="widget-title">Support</h3>
                        <ul>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">System Requirements</a></li>
                            <li><a href="#">Register Activation Key</a></li>
                            <li><a href="#">Site Feedback</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Forums</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
            <!-- Copyrigh -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright">
                        <p>© 2021 Copyright all Right Reserved Design by <a href="http://quomodosoft.com/">Quomodosoft</a></p>
                    </div>
                </div>
            </div>
            <!-- Copyrigh -->
        </div>
    </footer>
    <!-- Footer Section End -->